<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Team Tesla - VNIT, Nagpur</title>
  <meta name="description"
    content="Official Formula Innovation Team, VNIT, Nagpur. The team is mainly focused on research and development of Electric Vehicles and related technology.">
  <link rel="stylesheet" href="TeamChimera.css">

  <!-- <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet"> -->


  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet"> -->

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <!-- <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"> -->

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <!-- <link href="assets/vendor/venobox/venobox.css" rel="stylesheet"> -->
  <!-- <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet"> -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <!-- =======================================================
  * Template Name: Day - v2.0.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:teslavnit@gmail.com">teslavnit@gmail.com</a>
        <i class="icofont-phone"></i> Nishk Gupta: +91 7397802871
      </div>
      <div class="social-links">
        <a href="https://twitter.com/rvteamchimera" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="https://www.facebook.com/TeamChimeraRacing/" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/team_chimera/" class="instagram"><i class="icofont-instagram"></i></a>

        <a href="https://www.linkedin.com/company/team-chimera" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <a class="logo mr-auto" href="#"><img src="assets/img/logo3.png"><img src="assets/img/tittle.png"></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          
          <li><a href="#timeline">TIMELINE</a></li>
          <li><a href="#team">TEAM</a></li>
          <li><a href="./alumnipage.html">ALUMNI</a></li>
          <!--<li><a href="./blog.html">BLOG</a></li>-->
          <li><a href="#sponsers">SPONSORS</a></li>
          <li><a href="#contact">CONTACT</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">
      <h1>Team Tesla</h1>
      <h2>Official Innovation Team, VNIT, Nagpur.</h2>
	  
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </p>
      <a href="Team Brochure new.pdf" class="btn-bro" target="_blank">Team Brochure</a>
    </p>
    <div class="button_container">
      <a href="acc_details.html" class="fullteam-modal btn-bro" >Support the team</a>
              <div class="modal fade text-center" id="fullTeamModal1">
                <div class="modal-dialog">
                  <div class="modal-content" style="vertical-align: middle;">
                  </div>
                </div>
              </div>
      </div>

    <!--</p>
        <div style="text-align: center;">
         <a href="https://forms.gle/2fu67cwB3DiKHUNY8" target="_blank" class="btn-register scrollto">Registration Link for 15th Jun Recruitment Test</a>
         </div>-->
    </div>
  </section><!-- End Hero -->
  <br>
   <br>
<!--<section class="" id="results">
    <div class="container">
        <div class="results text-center " style="color: white;">
            <h2 class="section-heading text-uppercase ">important notice</h2>
            <br>
            <p class="text-center text-uppercase state">Click below to know the result of the Recruitment Drive 2022
            </p>
            <br>
            
            <div class="text-center" style="display: flex; justify-content: center; gap: 40px;">
            <button class="button btn-lg  " style="border: none!important;"><a href="https://docs.google.com/spreadsheets/d/1iZPOv9R5f7ZJSiQrCzPqxm2qVLpNpyHoX9l9iY04Ftg/"
              target="_blank" style="text-decoration:none; color: #00C851;">1st YEAR</a></button>
            <button class="button btn-lg  " style="border: none!important;"><a href="https://docs.google.com/spreadsheets/d/14P3eAThdo0beKyzFMds5a6rCrHgRXkm4841zm6wr7Hc/"
              target="_blank" style="text-decoration:none; color: #00C851;">2nd YEAR</a></button>
            </div>

        
    </section>

-->
  <main id="main">
 <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="section-title" data-aos="fade-down">
        <span>ABOUT US</span>
        <h2>ABOUT US</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/450660995?color=c9ff23" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script defer src="https://player.vimeo.com/api/player.js"></script>
            <p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">

            <p class="text-faded text-justify">
              Started in the year 2006 as a team comprising of inquisitive engineering students, Team Chimera is a student 
              team with an eye for the future and a thirst to build an automotive with hybrid and electric technology. We 
              are a multi-dimensional team comprising students from various engineering disciplines working towards the
               same end goal, hybrid and electric automotive. We have undertaken and excelled at various ventures such 
               as E-Volve Triple Powered Vehicle (TPV), Hybrid Auto Rickshaw, a plug-in hybrid from the Electric Vehicle
                – REVA, Formula Electric, and Hybrid race car. Currently, the team has plunged into the making of purely
                 electric Formula-style racing cars.Our target is to transcend our thoughts into reality, year after year.
            </p>
        
            <p class="text-faded text-justify">
                We have managed to integrate the different subsystems of our team comprising highly skilled engineering students. They work in cohesion to achieve our goals, be it the suspension subsystem or the safety circuits.
              We participate in various Formula Society of Automotive Engineers (FSAE) events and have excelled to a great extent in them. We have been instrumental in setting up a benchmark for standards in each of these categories every year.
              </p>
            <p class="text-faded text-justify">
              Having participated in recent events such as Formula Hybrid Competition (USA), Formula Electric Competition (Italy), Student Formula (Japan), Formula Green, and Formula Bharat ceaselessly, our team currently strives to lay its imprints
              in the research and development of Electric Vehicles. And in this direction, we aim to provide solutions to optimize the present technology in the automotive sector for a better future and advancement in formula electric racing.
            
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <br>




        </div>
      </div>
    </section>

    <!-- <script src="TeamChimera.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
      (function ($) {
        $.fn.timeline = function () {
          var selectors = {
            id: $(this),
            item: $(this).find(".timeline-item"),
            activeClass: "timeline-item--active",
            img: ".timeline__img"
          };
          selectors.item.eq(0).addClass(selectors.activeClass);
          selectors.id.css(
            "url(" +
            selectors.item
              .first()
              .find(selectors.img)
              .attr("src") +
            ")"
          );
          var itemLength = selectors.item.length;
          $(window).scroll(function () {

            var max, min;
            var pos = $(this).scrollTop();

            selectors.item.each(function (i) {

              min = $(this).offset().top - $(this).height();
              max = $(this).height() + $(this).offset().top;
              var that = $(this);
              if (i == itemLength - 2 && pos > min + $(this).height() / 2) {
                selectors.item.removeClass(selectors.activeClass);
                selectors.id.css(

                  "url(" +
                  selectors.item
                    .last()
                    .find(selectors.img)
                    .attr("src") +
                  ")"
                );
                selectors.item.last().addClass(selectors.activeClass);
              } else if (pos <= max - 10 && pos >= min) {
                selectors.id.css(

                  "url(" +
                  $(this)
                    .find(selectors.img)
                    .attr("src") +
                  ")"
                );
                selectors.item.removeClass(selectors.activeClass);
                $(this).addClass(selectors.activeClass);
              }
            });
          });
        };
      })(jQuery);

      $("#timeline-1").timeline();
    </script>
    <!-- ======= Clients Section ======= -->
    <!--
    <section id="clients" class="clients">
      <div class="section-title">
        <span>SPONSORS</span>
        <h2>SPONSORS</h2>
        <H5 style="color:rgb(25, 243, 6);">OUR BACKBONE</H5>
      </div>
      <div class="container" data-aos="zoom-in">

        <div class="row d-flex align-items-center">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/DS_solidworks.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/abb.png" class="img-fluid" alt="">
          </div>


          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/accord.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/MATLAB.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/airindia.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/azure.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/bender.jpg" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>
    -->
    <!-- End Clients Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h1 class="timeline-header__title" style="text-shadow: 2px 2px 5px black ;font-size: 50px!important;">TEAM </h1>
        </div>
        <div>
          <h4 class="text-center mx-auto font-weight-bold mb-4 pb-2">FACULTY ADVISOR</h4>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-8 mx-auto align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="assets/img/team/sir.jpg" alt="">
              <h4>Dr. Ritesh Kumar Keshri</h4>
              <span>Sr. Member IEEE VNIT</span>
              <p>
                Associate Professor , Department of Electrical Engineering
              </p>
              <!--<div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>-->
            </div>
          </div>
        </div>
        <div class="container pt-1 my-5 z-depth-5" style="margin: 0px 0px 40px 0px!important;">
          <section class="p-md-3 mx-md-5 text-center text-lg-left ">
            <h4 class="text-center mx-auto font-weight-bold mb-4 pb-2">LEADING TEAM</h4>
            <div id="leadingTeamContainer">
              <div class="row teamob">
                <div v-for="(member, index) in leadingTeam" class="col-lg-3 col-md-4 col-sm-6">

                  <div class="p-4 ">
                    <div class="avatar w-100 white d-flex justify-content-center align-items-center text-center">
                      <img loading="lazy" v-bind:src="member.image"  class="fit img-fluid rounded-circle z-depth-1 shadow" />
                    </div>
					
                    <div class="text-center mt-3">
                      <h6 class="font-weight-bold pt-2">{{ member.name }}</h6>
                      <p class="text-muted">
                        <small><i>{{ member.portfolio }}</i></small>
                      </p>
                    </div>
					
                  </div>
                </div>
                
              </div>
            </div>
            <br>
            <!--<div class="button_container">
              <a href="./alumnipage.html"><button class="btn btn-raised"><span>VIEW OUR ALUMNI
                  </span></button></a>
            </div> -->
          
          </section>
        </div>
      </div>
    </section>
    
    <!-- End Team Section -->

    <!--======SPONSORS SECTION======-->
    <div class="sponsorWrap">
    <section id="sponsers" class="sponsers">
      
      <div class="section-title">
        <span>SPONSORS</span>
        <h2>SPONSORS</h2>
      </div>
      <div id="sponserContainer" class="container" data-aos="zoom-in">
        <span class="section-heading wow bounceIn plat" style="font-weight: bold;">PLATINUM SPONSORS</span>
        <div class="row d-flex justify-content-center align-items-center">

          <div v-for="sponser in platinumSponsers" class="col-lg-3 col-md-7 col-10">
            <a target="_blank" v-bind:href="sponser.link">
              <img loading="lazy" v-bind:src="sponser.image" class="img-responsive" alt="img-responsive"></a>
          </div>

        </div>
       
        <span class="section-heading wow bounceIn gold" style="font-weight: bold;padding: 15px 0;">GOLD SPONSORS</span>
        <div class="row d-flex justify-content-center align-items-center ">

          <div v-for="sponser in goldSponsers" class="col-lg-3 col-md-5 col-10">
            <a target="_blank" v-bind:href="sponser.link">
              <img loading="lazy" v-bind:src="sponser.image" class="img-responsive" alt="img-responsive"></a>
          </div>
        </div>
      
        <span class="section-heading wow bounceIn bronz" style="font-weight: bold; padding: 15px 0;">BRONZE SPONSORS</span>
        <div class="row d-flex justify-content-center align-items-center ">

          <div v-for="sponser in bronzeSponsers" class="col-lg-3 col-md-5 col-10">
            <a target="_blank" v-bind:href="sponser.link">
              <img loading="lazy" v-bind:src="sponser.image" class="img-responsive" alt="img-responsive"></a>
          </div>
        </div>
         

        <h4 class="section-heading wow bounceIn" style="font-weight: bold;padding: 15px 0;font-family: 'Times New Roman',serif; font-size: 25px;">TECHNICAL SPONSORS</h4>
        <div class="row d-flex justify-content-center align-items-center ">

          <div v-for="sponser in technicalSponsers" class="col-lg-3 col-md-5 col-10">
            <a target="_blank" v-bind:href="sponser.link">
              <img loading="lazy" v-bind:src="sponser.image" class="img-responsive" alt="img-responsive"></a>
          </div>
        </div>
      </div>
    </section>
  </div>
    <!--======END OF SPONSORS SECTION======-->

    <!-- ======= Contact Section ======= -->

    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>Ready to contribute to our project?<br>Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-duration="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>Team Chimera Workshop, College Campus,<br> RV College of Engineering, Mysore Road,<b> 560059 - Bengaluru</b></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>teamchimera@rvce.edu.in</p>
              <br>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>Sai Kiran: +91 8105404029</p>
              <p>Karthikeya R Shervegar: +91 9844071297</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-duration="100">

          <div class="col-lg-6 ">
            <iframe loading="lazy" class="mb-4 mb-lg-0"
              src="https://maps.google.com/maps?q=rv%20college%20of%20engineering&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
 


            <form action="https://formspree.io/mgenbplr" method="POST" role="form">
              <div class="form-row">
                
                <div class="col-md-6 form-group">
                  <input type="email" name="_replyto" class="form-control info-box" style="border: none;text-align: left;padding-left: 10px;" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>

              <div class="form-group">
                <textarea class="form-control info-box" style="border: none;text-align: left;padding-left: 10px;" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
            
              <div class="text-center " style="color: chartreuse;" ><button type="submit" class="info-box" btn-raised style="padding: 8px; border-radius: 6px; border: none; color: rgb(131, 216, 45); background-color: white; ">SEND MESSAGE</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="footer-info">
            <p>
              Team Chimera Workshop, College Campus,<br> RV College of Engineering, Mysore Road,<br> 560059 - Bengaluru<br>
              <strong>Phone:</strong> Sai Kiran: +91 8105404029<br>
              <strong>Email:</strong> teamchimera@rvce.edu.in<br>  
            </p>
            <div class="social-links mt-3">
              <h2> Follow us on Social Media!<h2>
              <a href="https://twitter.com/rvteamchimera" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/TeamChimeraRacing/" class="facebook"><i
                  class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/team_chimera/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.linkedin.com/company/team-chimera" class="linkedin"><i
                  class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <span><font size="4">Copyright ©2022 Team Chimera</font></span>
      </div>
      <div class="toRemove">
        <p class="text-faded" style="margin-top: 1%">Credits: BootstrapMade.com.
        </p>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Water Powered Hybrid Auto</h2>
              <p class="item-intro text-muted"></p>
              <img class="img-responsive img-centered" width="100%" src="assets/img/portfolio/auto.jpg" alt="">
              <p class="text-justify">Hybrid Auto Team RVCE participated in The Hybrid Auto Rickshaw Battle, an
                international competition
                organized by the Dutch NGO Enviu, between the 22nd and 25th of July 2009. Our business plan
                was adjudged the best and the project overall finished second. Our Business plan was one
                of the national finalists of Bloomberg UTVi Idea League B- Plan Competition. </p>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"><img src="assets/img/logo3.png"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <!-- <script src="assets/vendor/venobox/venobox.min.js"></script> -->
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/js/timelinedata.js"></script>
  <script src="assets/js/leadingteam.js"></script>
  <script src="assets/js/sponsors.js"></script>
  <!-- <script type="text/javascript" lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script> -->
  <script src="https://unpkg.com/css-doodle@0.14.2/css-doodle.min.js"></script>
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>

$('.fullteam-modal').on('click', function(e){
      e.preventDefault();
      $('#fullTeamModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
  </script>
<script>

  $('.fullteam-modal1').on('click', function(e){
        e.preventDefault();
        $('#fullTeamModal').modal('show').find('.modal-content').load($(this).attr('href'));
      });
    </script>

</body>

</html>
